body{
    width:10000px;
}

.dead {
     background-color: #e0e0e0;
 }

.alive {
     background-color: #474747;
 }

.dead, .alive {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor:pointer;
    border-style:solid;
    border-color:#000000;
    border-width: 1px;
}

.row {
    clear: left;
}

#board{
    margin-left:auto;
    margin-right:auto;
}